<template>
  <div class="row pt-3">
    <div class="col-12">
      <ul class="nav nav-pills mb-5" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a
            class="nav-link active"
            id="pills-home-tab"
            data-toggle="pill"
            href="#pills-home"
            role="tab"
            aria-controls="pills-home"
            aria-selected="true"
          >Standaard</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="pills-profile-tab"
            data-toggle="pill"
            href="#pills-profile"
            role="tab"
            aria-controls="pills-profile"
            aria-selected="false"
          >Uitgebreid</a>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div
          class="tab-pane fade show active"
          id="pills-home"
          role="tabpanel"
          aria-labelledby="pills-home-tab"
        >
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <div class="row">
                  <div class="col-4">
                    <label class="col-form-label">Sets</label>
                    <input type="number" min="0" class="form-control" v-model.number="defaultSets">
                  </div>
                  <div class="col-4">
                    <label class="col-form-label">Reps</label>
                    <input type="number" min="0" class="form-control" v-model.number="defaultReps">
                  </div>
                  <div class="col-4">
                    <label class="col-form-label">Gewicht</label>
                    <input
                      type="number"
                      min="0"
                      class="form-control"
                      v-model.number="defaultWeight"
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="pills-profile"
          role="tabpanel"
          aria-labelledby="pills-profile-tab"
        >
          <div class="row">
            <label class="col-12 col-sm-4 col-form-label">Aantal sets:</label>
            <div class="col-12 col-sm-8">
              <div class="row">
                <div class="col-4">
                  <button class="btn btn-block" @click="setSets(3)">3</button>
                </div>
                <div class="col-4">
                  <button class="btn btn-block" @click="setSets(4)">4</button>
                </div>
                <div class="col-4">
                  <button class="btn btn-block" @click="setSets(5)">5</button>
                </div>
              </div>
            </div>

            <div class="col-12 pt-4">
              <div class="form-group" v-for="(set, index) in sets">
                <div class="row">
                  <label class="col-2 col-form-label pr-0">Set {{ index + 1 }}</label>
                  <div class="col-5">
                    <input
                      type="number"
                      min="0"
                      class="form-control"
                      placeholder="Reps"
                      v-model="sets[index].reps"
                    >
                  </div>
                  <div class="col-5">
                    <input
                      type="number"
                      min="0"
                      class="form-control"
                      placeholder="Gewicht"
                      v-model="sets[index].weight"
                    >
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-6 col-md-2">
                    <button class="btn btn-block btn-primary" @click="addSet()">+</button>
                  </div>
                  <div class="col-6 col-md-2">
                    <button class="btn btn-block btn-primary" @click="deleteSet()">-</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group mt-5">
          <div class="row">
                  <label class="col-2 col-form-label pr-0">Datum</label>
                  <div class="col-10">
                    <datepicker v-model="date"></datepicker>
                  </div>
                </div>
        </div>
        <div class="form-group">
          <button class="btn btn-success btn-block" @click="postSet()">Verstuur</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from "moment";
moment.locale("nl");

import swal from "sweetalert";

export default {
  props: ["exercise", "workout"],
  data() {
    return {
      defaultReps: null,
      defaultSets: null,
      defaultWeight: null,
      date: moment().format("L"),
      sets: []
    };
  },
  watch: {
    defaultReps: function() {
      this.setAllReps(this.defaultReps);
    },
    defaultSets: function() {
      this.setSets(this.defaultSets);
    },
    defaultWeight: function() {
      this.setAllWeights(this.defaultWeight);
    }
  },
  methods: {
    addSet() {
      this.sets.push({ reps: null, weight: null });
    },
    deleteSet() {
      this.sets.pop();
    },
    setSets(amount) {
      if (amount > this.sets.length) {
        var i = 0;
        var length = this.sets.length;
        while (i < amount - length) {
          this.sets.push({ reps: null, weight: null });
          i++;
        }
      } else if (amount < this.sets.length) {
        var toRemove = this.sets.length - amount;
        this.sets.splice(this.sets.length - toRemove, toRemove);
      }

      this.defaultSets = amount;
    },
    setAllReps(amount) {
      var i = 0;
      for (i = 0; i < this.sets.length; i++) {
        this.sets[i].reps = amount;
      }
    },
    setAllWeights(amount) {
      var i = 0;
      for (i = 0; i < this.sets.length; i++) {
        this.sets[i].weight = amount;
      }
    },
    postSet() {
      axios
        .post("/workout/add/" + this.exercise.id, {
          sets: this.sets,
          date: this.date,
          exercise: this.exercise.id
        })
        .then(res => {
          swal({
            title: "Lekker bezig!",
            text: "Op naar de volgende!",
            icon: "success"
          }).then(result => {
            window.location.replace('/workout/add');
          });
        })
        .catch(err => {
          console.log(err);
          swal({
            title: "Oeps!",
            text: "Er ging wat mis bij het opslaan",
            icon: "error",
            onClose: () => {
              this.redirectBack;
            }
          });
        });
    },
    redirectBack() {
      console.log("back");
    }
  }
};
</script>
